<nav class="nav-menu">
    <div class="nav-menu__section">Navigation</div>
    <ul class="nav-menu__list">
        <li><a class="nav-menu__link" href="/">Dashboard</a></li>
        <li><a class="nav-menu__link" href="/models">Model Browser</a></li>
        <li><a class="nav-menu__link" href="/ingestion">Model Ingestion</a></li>
        <li><a class="nav-menu__link" href="/extraction">Model Extraction</a></li>
        <li><a class="nav-menu__link" href="/operations">Operations Log</a></li>
    </ul>
</nav>
