# =====================================================
# Hartonomous CI/CD Pipeline - Database (DACPAC)
# =====================================================
# Builds and deploys SQL Server database to Azure Arc servers

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - src/Hartonomous.Database/**
      - tests/**/*.sql

pool:
  name: 'Default'  # Your deployment group with HART-DESKTOP agent

variables:
  buildConfiguration: 'Release'
  dacpacPath: '$(Build.ArtifactStagingDirectory)/Hartonomous.Database.dacpac'
  
stages:
- stage: Build
  displayName: 'Build DACPAC'
  jobs:
  - job: BuildDacpac
    displayName: 'Build Database Project'
    steps:
    - task: UseDotNet@2
      displayName: 'Install .NET 8 SDK'
      inputs:
        version: '8.x'

    - task: MSBuild@1
      displayName: 'Build Database Project'
      inputs:
        solution: 'src/Hartonomous.Database/Hartonomous.Database.sqlproj'
        configuration: '$(buildConfiguration)'
        msbuildArguments: '/p:DeployOnBuild=true /p:OutDir=$(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish DACPAC Artifact'
      inputs:
        PathtoPublish: '$(dacpacPath)'
        ArtifactName: 'dacpac'

- stage: DeployToHartDesktop
  displayName: 'Deploy to HART-DESKTOP (SQL Server)'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DeployDatabase
    displayName: 'Deploy DACPAC to SQL Server'
    environment: 'HART-DESKTOP'
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: dacpac

          - task: AzureKeyVault@2
            displayName: 'Get SQL Connection String from Key Vault'
            inputs:
              azureSubscription: 'Azure Developer Subscription'
              KeyVaultName: 'kv-hartonomous-production'
              SecretsFilter: 'SqlServerConnectionString'

          - task: SqlDacpacDeploymentOnMachineGroup@0
            displayName: 'Deploy DACPAC to SQL Server'
            inputs:
              TaskType: 'dacpac'
              DacpacFile: '$(Pipeline.Workspace)/dacpac/Hartonomous.Database.dacpac'
              TargetMethod: 'connectionString'
              ConnectionString: '$(SqlServerConnectionString)'
              AdditionalArguments: '/p:IncludeCompositeObjects=True /p:BlockOnPossibleDataLoss=False'

          - powershell: |
              Write-Host "Running database test suite..."
              cd $(Build.SourcesDirectory)/tests
              ./Run-DatabaseTests.ps1 -Server localhost -Database Hartonomous -OutputPath $(Build.ArtifactStagingDirectory)/test-results.xml
            displayName: 'Run Database Test Suite'
            continueOnError: false

          - task: PublishTestResults@2
            displayName: 'Publish Test Results'
            condition: always()
            inputs:
              testResultsFormat: 'NUnit'
              testResultsFiles: '$(Build.ArtifactStagingDirectory)/test-results.xml'
              failTaskOnFailedTests: true
              testRunTitle: 'Hartonomous Database Tests'
